{{!-- {{outlet}} --}}
{{!-- <div local-class="header">#header</div> --}}

<div local-class="container">
  <div local-class="column center" >
      {{accordion-hospital hospital=model}}

  </div>
  <div local-class="column left" >
      <h2>药品card</h2>
  </div>
  <div local-class="column right" >
      <h2>经理时间分配</h2>
  </div>
</div>

{{!-- <div local-class="footer">#footer</div> --}}
