.container {
	min-width: 1200px !important;
}

.talent-container {
	overflow-y: hidden;
	display: flex;
	flex-direction: column;
	min-width: 1200px;
	height: 100%;
	background: #EEF1FA;

	.title-bar {
		flex: 0 0 40px;
		height: 40px;
		line-height: 40px;
		color: #FFF;
		background-image: linear-gradient(90deg, #4B6693 0%, #8F9CC3 100%);

		span:first-child {
			margin: 0 15px;
			font-family: PingFangTC-Regular;
			font-size: 12px;
			letter-spacing: 2px;
		}

		span:last-child {
			float: right;
		}
	}

	.tips-container {
		background: none;
		background-color: rgba(0,0,0,0) !important;
		border: none;
		box-shadow: 0 6px 12px rgba(0, 0, 0, 0);
		background-clip: padding-box;
	}

	.content {
		flex: 1;
		display: flex;
		flex-direction: column;
		padding: 0 20px;
		height: 100%;
		background: #fff;

		.close {
			img {
				margin-top: 10px;
				display: block;
				float: right;
				width: 30px;
				height: 30px;
				cursor: pointer;
			}
		}

		.contain {
			height: 100%;

			.lump {
				height: 100%;
			}

			.title {
				font-family: PingFangSC-Medium;
				font-size: 14px;
				color: #4A90E2;
				letter-spacing: 2px;
			}

			.con-left {
				min-height: 620px;
				height: 100%;
				overflow: auto;
				background: #FBFBFB;
				margin-top: 10px;
				padding: 20px;

				.left-lump-input {
					width: 220px;
					height: 80px;
					background: red;
					margin: 10px 0;
				}

				.left-lump-show {
					width: 220px;
					height: 80px;
					background: yellow;
					margin: 10px 0;
				}

				.title {
					margin-bottom: 20px;
				}
			}

			.con-right {
				min-height: 620px;
				height: 100%;
				overflow: auto;
				background: #FBFBFB;
				margin-top: 10px;
				padding: 20px;

				.right-lump {
					width: 800px;
					height: 100px;
					background: green;
					margin: 10px 0;
				}
			}
		}
	}
}