{{!-- <div local-class="title-bar">
</div>
<div local-class="menu-bar">
</div> --}}
{{nav-title data=model.month}}
{{nav-tool data=model.dropdownData submit=(action "checkReport") onclick=(action "talent")}}
{{outlet}}
