.detail-container {
	display: flex;
	flex-direction: column;
	min-width: 1200px;
	height: 100%;
	background: #EEF1FA;
}

.title-bar {
	flex: 0 0 40px;
	height: 40px;
	line-height: 40px;
	color: #FFF;
	background-image: linear-gradient(90deg, #4B6693 0%, #8F9CC3 100%);

	span:first-child {
		margin: 0 15px;
		font-family: PingFangTC-Regular;
		font-size: 12px;
		letter-spacing: 2px;
	}

	span:last-child {
		float: right;
	}
}

.menu-bar {
	position: relative;
	flex: 0 0 40px;
	padding: 0 35px;
	height: 40px;
	line-height: 40px;
	background: #FDFDFD;
	box-shadow: 0 2px 4px 0 rgba(162,162,162,0.50);

	.budget-tip {
		position: absolute;
		top: 50px;
		right: 20px;
		z-index: 2;
		font-size: 0;
		box-shadow: 0 2px 4px 0 rgba(133,132,132,0.50);

		.rectangle {
			padding: 20px;
			width: 350px;
			height: 90px;
			background-color: #FFF;
			box-shadow: 0 2px 4px 0 rgba(133,132,132,0.50);
			border-radius: 5px;

			.budget-text {
				height: 17px;
				line-height: 17px;
				font-size: 12px;
				letter-spacing: 1px;

				span:first-child {
					margin-right: 30px;
				}

				span:last-child {
					float: right;
					margin-right: 20px;
				}
			}
		}

		.triangle {
			position: absolute;
			left: 95px;
			margin-top: -20px;
			padding: 0;
			width: 0;
			height: 0;
			border-width: 10px;
			border-style: solid;
			border-color: transparent transparent #FFF;
		}
	}

	.human-tip {
		position: absolute;
		top: 50px;
		right: 20px;
		z-index: 2;
		font-size: 0;
		box-shadow: 0 2px 4px 0 rgba(133,132,132,0.50);

		.rectangle {
			padding: 20px;
			width: 350px;
			height: 325px;
			background-color: #FFF;
			box-shadow: 0 2px 4px 0 rgba(133,132,132,0.50);
			border-radius: 5px;

			.human-text {
				height: 17px;
				line-height: 17px;
				font-size: 12px;
				letter-spacing: 1px;

				span:first-child {
					margin-right: 30px;
				}

				span:last-child {
					float: right;
					margin-right: 20px;
				}
			}
		}

		.triangle {
			position: absolute;
			left: 155px;
			margin-top: -20px;
			padding: 0;
			width: 0;
			height: 0;
			border-width: 10px;
			border-style: solid;
			border-color: transparent transparent #FFF;
		}
	}

	.self-progress {
		margin-top: 6px;
		height: 16px;
	}

	.self-progress-bar {
		background-color: #50E3C2;
	}

	.menu {
		display: inline-block;
		height: 40px;

		span {
			font-size: 12px;
			letter-spacing: 2px;
			cursor: pointer;
			color: #646464;
		}
	}

	.menu-left {
		font-size: 0;

		span {
			font-size: 12px;
			margin: 0 12px;
		}

		span:first-child {
			margin-left: 0;
		}
	}

	.menu-right {
		float: right;

		.budget span,
		.human span {
			color: #8695BD;
		}

		.budget,
		.human {
			margin-right: 25px;
		}

		.btn-submit {
			display: inline-block;
			vertical-align: top;
			margin-top: 7.5px;
			width: 110px;
			height: 25px;
			line-height: 26px;
			text-align: center;
			border-radius: 100px;
			color: #FFF;
			background: #4FB6EC;
			box-shadow: 0 1px 2px 0 rgba(36,36,36,0.28);

			span {
				color: #FFF;
			}
		}
	}
}

.content {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 0 40px;

	.hosp-nav {
		flex: 0 0 40px;
		line-height: 40px;
		margin: 0 auto;
		min-width: 1120px;
		max-width: 1400px;
		font-size: 0;
		color: #676767;

		p:first-child {
			cursor: pointer;
		}

		p {
			display: inline-block;
			height: 17px;
			line-height: 17px;
			font-size: 12px;
			font-family: PingFangTC-Regular;
			letter-spacing: 1px;
		}

		.nav-right {
			float: right;

			p {
				padding: 0 2px;
			}

			p:first-child {
				margin-right: 25px;
			}

			p:nth-child(2) {
				border-right: 1px solid #8B8888;
			}
		}
	}

	.hosp-detail {
		flex: 1;
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		padding-bottom: 100px;
		min-width: 1120px;
		max-width: 1400px;
		min-height: 610px;
		border-radius: 2*$default-radius;

		.basic-info {
			flex: 0 0 125px;
			margin: 0;
			padding: 15px 0;
			border-radius: 6px 6px 0 0;
			background-image: linear-gradient(110deg, #4D608F 0%, #8F9CC3 100%);
			box-shadow: 0 3px 14px 0 rgba(166,166,166,0.50);
		}

		.medicine-info {
			flex: 1;
			min-height: 485px;
			border-radius: 0 0 6px 6px;
			background: #FFFFFF;
			box-shadow: 0 3px 14px 0 rgba(184,184,184,0.50);
		}
	}
}

.info-left {
	padding-left: 15px;
	color: #EDEDED;

	.title {
		margin-bottom: 25px;
		height: 25px;
		line-height: 25px;
		font-family: PingFangTC-Regular;
		font-size: 0;

		.hosp-title {
			margin-right: 20px;
			min-width: 80px;
			font-size: 18px;
			letter-spacing: 3px;
		}

		.hosp-tab {
			display: inline-block;
			margin-right: 10px;
			vertical-align: top;
			width: 118px;
			height: 25px;
			line-height: 25px;
			text-align: center;
			font-size: 12px;
			border-radius: 100px;
			background-color: #656565;
			cursor: pointer;
		}

		.tab-active {
			color: #FFF;
			background-color: #4D8DD8;
		}
	}

	.tab-container {
		display: flex;
		justify-content: space-around;
		font-size: 0;
	}

	.news,
	.policy {
		font-size: 16px;
	}

	.tab-content {
		flex: 1;
		text-align: center;
		height: 40px;

		p {
			font-size: 12px;
			height: 17px;
			line-height: 17px;
		}

		p:first-child {
			font-size: 12px;
			margin-bottom: 5px;
		}

		p:last-child {
			font-size: 12px;
		}

		span {
			display: inline-block;
			margin-top: 7px;
			width: 50px;
			height: 25px;
			line-height: 25px;
			font-size: 12px;
			border-radius: 100px;
			background-color: #4D8DD8;
		}
	}
}

.info-right {
	.sign-person {
		float: right;
		margin-right: 25px;
		margin-top: 20px;
		padding: 10px 14px;
		width: 280px;
		height: 70px;
		border-radius: 2*$default-radius;
		background-color: #F9F9F9;

		.sign-left {
			font-family: PingFangTC-Regular;
			font-size: 0;

			p:first-child {
				height: 16px;
				line-height: 16px;
				font-size: 14px;
				letter-spacing: 2px;
				color: #000000;
			}

			p:last-child {
				height: 16px;
				font-size: 10px;
				letter-spacing: 2px;
				line-height: 16px;
				color: #575C6C;
			}
		}

		.sign-right {
			span {
				display: inline-block;
				width: 46px;
				height: 46px;
				line-height: 46px;
				text-align: center;
				border-radius: 50%;
				color: #FFF;
				background-color: #DCDCDC;
			}
		}
	}
}

.medicine-info {
	padding: 22px 25px 0;
	overflow-y: auto;
	font-family: PingFangTC-Regular;
	font-size: 0;

	.medicine {
		margin-bottom: 20px;
		padding: 15px 0;
		width: 100%;
		height: 360px;
		border-radius: 3*$default-radius;
		background-color: #F6F7F9;

		.medicine-left {
			display: inline-block;
			padding-left: 15px;
			width: 75%;
			height: 100%;
			vertical-align: top;

			.title {
				margin-bottom: 10px;
				font-size: 18px;
				letter-spacing: 2.5px;
				color: #52545D;
			}

			.properties {
				display: flex;
				justify-content: flex-start;
				padding-left: 15px;
				text-align: center;

				.property {
					// flex: 1;
					margin-right: 50px;

					p:first-child {
						margin-bottom: 4px;
						height: 14px;
						line-height: 14px;
						font-size: 12px;
						letter-spacing: 0.95px;
						color: #52545D;
					}

					p:last-child {
						height: 20px;
						line-height: 20px;
						font-size: 14px;
						letter-spacing: 1.56px;
						color: #52545D;
					}
				}
			}

			.compare {
				display: flex;
				margin: 12px 15px 0;
				height: 240px;
				border-radius: 4px;

				.left-tabs {
					flex: 0 0 45px;
					// opacity: 0.94;
					padding-top: 16px;
					text-align: center;
					border-radius: 4px 0 0 4px;
					background-image: linear-gradient(137deg, #4060AE 0%, #8F9CC3 100%);

					.tab {
						display: inline-block;
						margin-bottom: 14px;
						width: 30px;
						height: 30px;
						border-radius: 2*$default-radius;
						background-color: #FFFFFF;
						opacity: 0.56;
						cursor: pointer;

						.tabsa {
							height: 100%;
							border-radius: 2*$default-radius;
						}
					}

					.medicine-tab-active {
						background-color: #4D8DD8;
					}
				}

				.right-content {
					flex: 1;
					border-radius: 0 4px 4px 0;
					background-color: #FFF;
					font-size: 14px;

					.competition-products,
					.hospital-deploy,
					.medicine-detail {
						padding: 20px 15px;

						p:first-child {
							margin-bottom: 16px;
							height: 17px;
							line-height: 17px;
							font-family: PingFangTC-Regular;
							font-size: 12px;
							color: #6E6E6E;
							letter-spacing: 1px;
						}
					}

					:global(.ember-view) {
						height: auto;
					}

					:global(.medicine-table .lt-head tr:first-child) {
						padding-bottom: 4px;
						height: 20px;
						border-bottom: 1px solid rgba(111,109,204,.10);
						font-size: 12px;
						font-weight: 100;
						letter-spacing: 0.83px;
						color: #4A4A4A;
					}

					:global(.lt-row) {
						height: 40px;
						line-height: 40px;
						font-size: 12px;
						letter-spacing: 1.62px;
						color: #3D3D3D;
					}
				}
			}
		}

		.medicine-right {
			display: inline-block;
			// padding-right: 15px;
			padding-top: 80px;
			width: 25%;
			height: 100%;
			vertical-align: top;
			border-left: 1px dashed #1F4F87;

			.inputarea {
				margin: 0 auto 15px;
				padding: 10px 12px;
				width: 80%;
				height: 70px;
				border-radius: $default-radius;
				background: #F0F2FF;
				box-shadow: 0 2px 4px 0 rgba(224,224,224,0.50);

				div {
					display: inline-block;
					vertical-align: top;
					font-size: 12px;

					&:first-child {
						width: 120px;
					}

					&.input-right {
						p:last-child {
							text-align: center;
							font-size: 16px;
							line-height: 30px;
						}
					}

					p:first-child {
						margin-bottom: 5px;
						color: #474747;
						letter-spacing: 0.56px;
					}

					p:last-child {
						line-height: 44px;
					}

					input {
						padding-top: 15px;
						padding-bottom: 0;
						width: 100px;
						border: 0;
						border-radius: $default-radius;
					}
				}
			}
		}
	}

	.medicine-component {
		.medicine-left .compare {
			:global(.ember-view) {
				height: auto;
			}
		}
	}
}