<div local-class="detail-container">
	<div local-class="title-bar">
	</div>
	<div local-class="menu-bar">
	</div>
	<div local-class="content">
		<div local-class="hosp-nav" class="container">
		</div>
		<div local-class="hosp-detail" class="container">
			<div local-class="basic-info" class="row">
			</div>
			<div local-class="medicine-info">
				<div local-class="medicine medicine-component">
					<div local-class="medicine-left">
					</div>
					<div local-class="medicine-right">
						<div local-class="inputarea">
						</div>
                        <div local-class="inputarea">
                        </div>
                        <div local-class="inputarea">
                        </div>
					</div>
				</div>
                <div local-class="medicine medicine-component">
                    <div local-class="medicine-left">
                    </div>
                    <div local-class="medicine-right">
                        <div local-class="inputarea">
                        </div>
                        <div local-class="inputarea">
                        </div>
                        <div local-class="inputarea">
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>
{{outlet}}
