{{!-- <p>
    <a href="http://kennethkalmer.github.io/ember-cli-nouislider/">
        ember-cli-nouislider
    </a>
</p>
<p>
    <a href="http://ember-power-select.com/">
        ember-power-select
    </a>
</p> --}}
{{outlet}}
