{{!-- <div local-class="detail-container">
	<div local-class="content">
		<div local-class="hosp-nav" class="container"></div>
		<div local-class="hosp-detail" class="container">
			<div local-class="basic-info" class="row">
				<div local-class="select">
					<div local-class="title">
                    </div>
				</div>
				<div local-class="overview">
                    <div local-class="block">
                    </div>
					<div local-class="block">
                    </div>
					<div local-class="block">
                    </div>
                    <div local-class="block">
                    </div>
                    <div local-class="block">
                    </div>
				</div>
			</div>
			<div local-class="table">
				<div local-class="table-info">
				</div>
			</div>
		</div>
	</div>
</div> --}}
<div local-class="detail-container">
	{{result-container model}}
</div>
