:global(.ember-view) {
	height: 100%;
}

.train-container {
	height: 100%;
	display: flex;
}

.menu {
	flex: 0 0 185px;
	height: 100%;
	color: #FFF;
	background-color: #6F7FAA;

	.title {
		padding: 0 14px;
		height: 50px;
		line-height: 50px;
		// text-align      : center;
		background-color: rgba(88,91,99,.45);

		span {
			margin-left: 12px;
			font-family: PingFangTC-Regular;
			font-size: 14px;
			letter-spacing: 1.4px;
		}
	}

	.user {
		padding: 15px 14px;
		height: 75px;
		background-color: rgba(133,133,133,.25);

		p {
			font-family: PingFangTC-Semibold;
			font-size: 14px;
			letter-spacing: 1.75px;
			color: #EEEEEE;

			span {
				margin-left: 10px;
				color: #FFF;
			}
		}
	}

	ul {
		margin-top: 15px;
		padding: 0;
		list-style: none;

		li {
			padding: 0 18px;
			height: 35px;
			line-height: 35px;
			font-family: AppleSDGothicNeo-Regular;
			font-size: 14px;
			letter-spacing: 5px;

			&:first-child {
				background-color: rgba(255,255,255,.12);
			}
		}
	}
}

.content {
	flex: 1;
	padding-top: 50px;
	min-width: 1015px;
	height: 100%;
	background-color: #EEF1FA;

	.checkpoint {
		margin: 0 30px 20px;
		height: 90px;
		// line-height     : 90px;
		border-radius: $default-radius + 2px;
		background-color: #FFF;
		box-shadow: 0 2px 4px 0 rgba(36,36,36,0.28);

		.title {
			display: inline-block;
			vertical-align: top;
			margin-left: 20px;
			margin-top: 35px;
			font-family: PingFangSC-Regular;
			font-size: 13px;
			letter-spacing: 2.11px;
			color: #353535;
		}

		.btn-simulation {
			float: right;
			display: inline-block;
			vertical-align: top;
			margin-top: 31px;
			margin-right: 30px;
			width: 116px;
			height: 25px; // margin-right: 30px;
			line-height: 25px;
			text-align: center;
			border-radius: 100px;
			cursor: pointer;
			color: #FFF;
			background-color: #70B6BD;
		};
	}
}
