<div local-class="train-container">
    <div local-class="menu">
    </div>
    <div local-class="content">
        <div local-class="checkpoint">
        </div>
        <div local-class="checkpoint">
        </div>
    </div>
</div>
{{outlet}}
