<div local-class="evalution-container">
    <div local-class="title-bar" class="col-md-12">
        <span local-class="date">测评报告</span>
        <span local-class="setting"> <img src="/assets/images/hosp-setting.png" alt=""> </span>
    </div>
    <div local-class="content">
        <div class="container" local-class="container">

            <div local-class="tab">
                <p local-class="tab-title">多维能力分析</p>
            </div>
            <div local-class="radar">
                {{!-- <p local-class="title">能力维度分析</p>
                <div local-class="radar-map">
                </div> --}}
                <img src="/assets/images/leidatu.jpg" alt="">
            </div>
            {{#each model as |item|}}
                {{evaluation-ability item}}
            {{/each}}
            {{!-- <div local-class="detail">
                <p local-class="title">战略规划</p>
                <p local-class="status">掌握信息是降低风险的关键要素，对信息的理解越深，决策出错的可能性就越低，在执行前，我们需要透过科学化的客观分析，把握外部环境变化、洞察问题，并发现其对市场、公司的影响，借而发现市场机会、客户发展发方向、预测市场发展趋势，综合多方因素进行科学、客观的区域业务计划，这是完美达成任务的关键第一步。</p>
                <div local-class="abs">
                </div>
                <div local-class="abs">
                </div>
                <div local-class="abs">
                </div>
            </div> --}}
            {{!-- <div local-class="detail">
                <p local-class="title">业务发展</p>
                <p local-class="status">业务发展是关于具体区域规划中的策略部分，也就是我们常说的销售力，首先经理的角色，是组织贯彻战略的核心，您将是公司战略规划落地执行的关键先生。因此，您需更多理解指标背后所代表的公司整体布局，并透过您对于自身区域的理解与规划，针对每个目标客户做出有针对性的销售计划，同时，考量资源分配与效益问题，做出良好的权衡，使自己的工作能有效的贯策公司全体战略目标，与组织同步前进。</p>
                <div local-class="abs">
                </div>
                <div local-class="abs">
                </div>
                <div local-class="abs">
                </div>
            </div>
            <div local-class="detail">
                <p local-class="title">团队管理能力</p>
                <p local-class="status">在如今市场快速变化，到岗率低下、招聘困难的情况，经理面临三大人员难题 ： 没人、人刚到、人走了 ，但在銷售行業中，一支稳定的队伍，是创造</p>
                <div local-class="abs">
                </div>
                <div local-class="abs">
                </div>
                <div local-class="abs">
                </div>
            </div> --}}
            <div local-class="detail">
                {{!-- <p local-class="title">态势与发展分析</p>
                <div local-class="line">
                </div>
                <div local-class="analyze">
                </div>
                <div local-class="analyze">
                </div>
                <div local-class="analyze">
                </div> --}}
                <img src="/assets/images/zhexiantu.jpg" alt="">

            </div>
        </div>
    </div>
</div>
