<div local-class="login-container">
    <div local-class="login-content">
        <div local-class="login-left">
            <img src="/assets/images/logo_login.png" alt="">
            <p local-class="login-title">铁马区域管理模拟平台</p>
            <p local-class="login-title-en">Territory Management Interactive Simulation</p>
        </div>
        <div local-class="login-right">
            <p>登入/Login</p>
            <form action="#">
                {{input type="text" name="accout" value=accout placeholder="帐号" autofocus="true"}}
                {{input type="text" name="password" value=password placeholder="密码"}}
                <p local-class="foget-password">忘记密码？</p>
                <button type="button" name="button" {{action 'sbtInfo'}}>登入</button>
            </form>
        </div>
    </div>
</div>

{{!-- <div local-class="">
  <div local-class="one">
    1
  </div>
  <div local-class="tow">
    2
  </div>
  <div local-class="three">
    3
  </div>
  <div local-class="four">
    4
  </div>
</div> --}}
{{!-- {{outlet}}
<br>
{{#link-to 'pharbers.v1.report'}}
  pharbers.v1.report
{{/link-to}} --}}
