<div local-class="hosp-container">
	<div local-class="title-bar">
	</div>
	<div local-class="menu-bar">
	</div>
	<div local-class="content">
		<div local-class="hosp-item">
			{{!-- <div local-class="hosp-intro">
			</div>
			<div local-class="medicine-container">
				<div local-class="medicine-item">
				</div>
			</div> --}}
		</div>
		<div local-class="hosp-item">
			{{!-- <div local-class="hosp-intro">
			</div>
			<div local-class="medicine-container">
				<div local-class="medicine-item">
				</div>
				<div local-class="medicine-item">
				</div>
			</div> --}}
		</div>
		<div local-class="hosp-item">

		</div>
	</div>
</div>
{{outlet}}
