<div local-class="hosp-container">
	<div local-class="title-bar">
	</div>
	<div local-class="menu-bar">
	</div>
	<div local-class="content">

		{{!-- <div local-class="hosp-item">
		</div> --}}
		{{hospital-list model}}
	</div>
</div>
{{outlet}}
