<div local-class="hosp-container">
	{{nav-title data=month}}
	{{nav-tool data=dropdownData submit=(action "submitRun") onclick=(action "talent")}}
	<div local-class="content">
		{{hospital-list result linkPage=(action 'linkPage')}}
	</div>
</div>
{{outlet}}
