.mcontent {
    flex: 1;
    position: absolute;
    z-index: 2;
    top: 85px;
    bottom: 0;
    display: none;
    padding: 10px 20px 0;
    width: 100%;
    min-width: 1200px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    min-height: 650px;
}

.show {
    display: block;
    background-color: #EBEFF9;
}